
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<div class="container">
    <div class="container-fluid">
        <table id="studtbl" class="table table-responsive table-striped table-bordered">
            <tr>
                <td>Student Name</td>
                <td><input id="StudentName" type="text" class="form-control" /></td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input id="age" type="number" class="form-control" /></td>
            </tr>
            <tr>
                <td>Adress</td>
                <td><input id="Address" type="text" class="form-control" /></td>
            </tr>
        </table>
    </div>

    <p></p><br />
    <div><input type="button" id="btnSave" name="btnSave" class="btn btn-info" value="Save Data" /> </div>

</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            var id = JSON.stringify(GetParameterValues('ID'));
            GetParameterValues(param);

            function getData() {
                debugger;
                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:5128/api/Students',
                    contentType: 'json',
                    //data: { txtFromDate: dfrom, txtToDate: dto, dpdnperson: pname, id: pid },
                    success: function (response) {
                        if (response.length == 0) {
                            alert(response);
                        } else {
                            $.each(response, function (index, item) {
                                $("#studtblbody").append("<tr><td><input type='radio' id='rd1' name='rd1' value=" + item.Id + " group='rad1' /><input type='hidden' id='r1' name='r1' value=" + item.Id + " /></td><td>" + item.StudentName + "</td> <td>" + item.age + " </td><td>" + item.Address + "</td> <td> <a id='a1' href=# value=" + item.Id + " >Edit</a> | Delete </td></tr>");
                            });
                        }
                    },
                    error: function (err) {
                        console.error(err);
                    }
                });
            }
            
            function GetParameterValues(param) {
                var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < url.length; i++) 
                {
                    var urlparam = url[i].split('=');
                    if (urlparam[0] == param) {
                        return urlparam[1];
                    }
                }
            }

            $('#btnSave').click(function () {
                debugger;
                SaveData();
            });

        });
    </script>
    }