@{
    ViewData["Title"] = "Index";
}

<h1>Student Data</h1>

<div>
    <input type="button" id="btnGetAll" name="btnGetAll" class="btn btn-info" value="Get Data" />
    <input type="button" id="btnAddNEw" name="btnAddNEw" class="btn btn-primary" value="Add New" />
</div>
<div class="container">
    <div class="container-fluid">
        <table id="studtbl" class="table table-responsive table-striped table-bordered">
            <tr>
                <th>Selection</th>
                <th>Student Name</th>
                <th>Age</th>
                <th>Address</th>
                <th></th>
            </tr>
            <tbody id="studtblbody" name="studtblbody">
            </tbody>
        </table>
    </div>

    <p></p><br />

</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            $('#btnGetAll').click(function () {
                debugger;
                getData();
            })


            function getData()
            {
                debugger;
                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:5128/api/Students',
                    contentType: 'json',
                    //data: { txtFromDate: dfrom, txtToDate: dto, dpdnperson: pname, id: pid },
                    success: function (response) {
                        if (response.length == 0) {
                            alert(response);
                        } else {
                            $.each(response, function (index, item)
                            {
                                $("#studtblbody").append("<tr><td><input type='radio' id='rd1' name='rd1' value=" + item.Id + " group='rad1' /><input type='hidden' id='r1' name='r1' value=" + item.Id + " /></td><td>" + item.StudentName + "</td> <td>" + item.age + " </td><td>" + item.Address + "</td> <td>Edit | Delete </td></tr>");
                            });
                        }
                    },
                    error: function (err) {
                        console.error(err);
                    }
                });
            }

            
            $(document).on("click", "#rd1", function () {
                debugger;
                var x = $('input[name="rd1"]:checked').val();
                alert( x + " radio clicked");
            });

            $(document).on("click", "#btnAddNEw", function () {
                debugger;
                $(location).prop('href', 'Student/CreateStudent')
            });
        });
    </script>
}